@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#f59bd166, #f59bd166), url(/images/plants.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: "Afacad Flux", sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

nav ul li{
    margin: 0 20px;
    flex: 1;
    text-align: center;
}

nav ul li a{
    font-size: 1.6rem;
    font-weight: 400;
}

.websites li a{
    text-decoration: underline;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
}

a:hover{
    background-color: #3d1c2a;
}

.img:hover{
    background-color: #3d1c2a00;
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

main{
    margin-top: 30px;
    text-align: center;
    flex: 1;
}

main h1, main h2, main h3, main p{
    margin: 0;
    margin-top: 10px;
}

main h2{
    font-size: 1.7em;
}

main h3{
    font-size: 1.5em;
}

main p{
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4em;
}

main ul li{
    margin: 10px 0;
    font-size: 1.3em;
    margin-top: 0;
}

main img{
    height: 150px;
    margin: 10px;
}

hr{
    width: 50%;
    border: 1px solid #fff;
    margin: auto;
}

.assignments{
    padding-top: 30px;
}

footer{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin-inline: auto;
    width: fit-content;
    min-height: 50px;
    margin-bottom: 20px;
}

footer p{
    margin: 0;
    text-align: center;
}

@media (max-width: 1024px){
    nav{
        justify-content: right;
    }
    
    nav ul{
        position: fixed;
        top: -100%;
        left: 0;
        flex-direction: column;
        background-color: #58374b;
        width: 100%;
        border-radius: 5px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    nav ul.active{
        top: 0;
    }

    nav ul li a{
        padding: 15px 0;
    }

    .nav-item{
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .nav-link{
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .nav-link:hover{
        background-color: #3d1c2aa2;
        width: 100%;
        border-radius: 5px;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 600px){
    body{
        background-image: linear-gradient(#f59bd166, #f59bd166), url(/images/plants2.jpg);
        background-size: cover;
    }

    .websites{
        padding-left: 25px;
        padding-right: 25px;
    }
}