*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        "mainL mainL mainR mainR mainR";
}

.header{
    grid-area: header;
}

.left{
    grid-area: mainL;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.right{
    grid-area: mainR;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}