body{
    background-color: #dce9f7;
    text-align: center;
}

section {
    display: inline-block;
    max-width: 300px;  
    border-color: black;
    border-width: 1px;
    border-style:none; 
    padding:20px;
    margin:10px;
    background-color: #F5F5F5;
    text-align: left;
    box-shadow: 10px 10px lightblue;
}

footer{
margin:40px;
}